[submodule "public/nitro-react"]
	path = public/nitro-react
	url = https://github.com/billsonnn/nitro-react.git
[submodule "public/nitro-assets"]
	path = public/nitro-assets
	url = https://github.com/Kyzegs/nitro-assets.git
[submodule "public/swf"]
	path = public/swf
	url = https://github.com/Kyzegs/swf
